/* styles.css or global.css or any other stylesheet imported globally */
.color-empty {
    background-color: #1a1a1a; /* Use your desired color */
  }
  
  .color-scale-0 {
    background-color: #f3f4f6; /* Very light gray */
  }
  
  .color-scale-1 {
    background-color: #d1fae5; /* Tailwind green-200 */
  }
  
  .color-scale-2 {
    background-color: #86efac; /* Tailwind green-400 */
  }
  
  .color-scale-3 {
    background-color: #4ade80; /* Tailwind green-600 */
  }
  
  .color-scale-4 {
    background-color: #22c55e; /* Tailwind green-800 */
  }
  
  