.react-calendar-heatmap text {
    font-size: 10px;
    fill: #767676;
  }
  
  .color-empty {
    fill: #ebedf0;
  }
  
  .color-scale-1 {
    fill: #c6e48b;
  }
  
  .color-scale-2 {
    fill: #7bc96f;
  }
  
  .color-scale-3 {
    fill: #239a3b;
  }
  
  .color-scale-4 {
    fill: #196127;
  }
  
  .react-calendar-heatmap .rect {
    rx: 2; /* Rounded corners for grid cells */
    width: 12px;
    height: 12px;
    margin: 2px;
  }
  
  .react-calendar-heatmap .week {
    justify-content: space-between;
  }
  
  .react-calendar-heatmap .legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .react-calendar-heatmap .legend rect {
    margin-right: 4px;
    width: 12px;
    height: 12px;
  }
  